# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.rsuser

# Rider / VSCode / Visual Studio
.vscode/
.idea/
.vs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# NuGet
*.nupkg
packages/
.nuget/

# Test results
TestResults/

# Publish output
publish/

# Temporary files
*.tmp
*.temp